[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ
Exec="/home/{{user}}/Apps/intellij-{{intellij_version}}/bin/idea.sh" %f
Icon=/home/{{user}}/Apps/intellij-{{intellij_version}}/bin/idea.png
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-intellij
Encoding=UTF-8
Name[en_US]=IntelliJ
Comment[en_US]=Develop with pleasure!
