[Desktop Entry]
Version=1.0
Type=Application
Name=DataGrip
Exec="/home/{{user}}/Apps/DataGrip-{{datagrip_version}}/bin/datagrip.sh" %f
Icon=/home/{{user}}/Apps/DataGrip-{{datagrip_version}}/bin/product.png
Comment=DbEditor
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-datagrip
Encoding=UTF-8
Name[en_US]=DataGrip
Comment[en_US]=DbEditor