[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
Exec="/home/{{user}}/Apps/pycharm-{{pycharm_version}}/bin/pycharm.sh" %f
Icon=/home/{{user}}/Apps/pycharm-{{pycharm_version}}/bin/pycharm.png
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-pycharm
Encoding=UTF-8
Name[en_US]=PyCharm
Comment[en_US]=Develop with pleasure!